body {
	font-family: arial;
	background-color: white;
	margin: 0px 5%;
}

header {
	position: fixed;
	right: 0;
	left: 0;
	z-index: 2;
	color: #000066;
	background-color: #edf1ff;
	clear: left;
	text-align: center;
	font-weight: bold;
	padding: 0px 5%;
}

.droprest {
	display: none;
	position: absolute;
	top: 46px;
	color: white;
	background-color: #000066;
	text-align: inherit;
	font-weight: inherit;
	padding: inherit;
}

.dropdown:hover .droprest {
	display: block;
}

.droprest:hover {
	color: #000066;
	background-color: #f1f1f1;
}

.dropmain, .droprest {
	margin: 0;
	padding: 14px 16px;
}

.dropmain:not(:hover) {
	color: white;
	background-color: #000066;
}

footer {
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	width: 90%;
	z-index: 2;
	color: #000066;
	background-color: #edf1ff;
	clear: left;
	text-align: center;
	font-size: 8pt;
	font-weight: bold;
	padding: 0px 5%;
}

.footer-icon {
	fill: #000066;
}

h1 { 
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h2 {
	display: block;
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h3 { 
	display: block;
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h4 { 
	display: block;
	font-size: 1em;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h5 { 
	display: block;
	font-size: .83em;
	margin-top: 1.67em;
	margin-bottom: 1.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h6 { 
	display: block;
	font-size: .67em;
	margin-top: 2.33em;
	margin-bottom: 2.33em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

p {
	margin-left: 1em;
}

a {
	cursor: pointer;
}

q {
	quotes: "\201C" "\201D" "\2018" "\2019";
}

ul.dashed {
	list-style-type: none;
}

ul.dashed > li {
	text-indent: -1em;
}

ul.dashed > li:before {
	content: "\2013\2000";
	text-indent: -1em;
}

ul ul {
	list-style-type: square;
}

.note {
	font-weight: bold;
}

h2 + ul {
	margin-top: -16px;
}

p + ul {
	margin-top: -16px;
}

ul.menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: auto;
	margin-left: 6pt;
	margin-right: 6pt;
}

ul.menu li {
	color: #000;
	text-decoration: none;
	font-weight: bold;
	cursor: pointer;
	float: left;
	display: inline;
	text-align: center;
	color: #000066;
}

header ul.menu li {
	padding: 14px 16px;
}

footer ul.menu li {
	padding: 10px 16px;
}

ul.menu li:hover:not(.active) {
	background-color: #e6d1fc;
	color: #000066;
}

ul.menu li.noclick:hover {
	color: white;
	background-color: #000066;
	cursor: default;
}

ul.menu li.active {
	background-color: #fffbe0;
	color: #0000a8;
}

.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
	visibility: hidden;
	background-color: black;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px 5px;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 105%;
	left: 15px;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
}

.tooltip .tooltiptextmini {
	visibility: hidden;
	width: 250px;
	background-color: black;
	color: #fff;
	text-align: left;
	font-size: 8pt;
	border-radius: 6px;
	padding: 5px 5px;

	/* Position the tooltip */
	position: absolute;
	z-index: 1;
	top: 105%;
	left: 15px;
}

.tooltip:hover .tooltiptextmini {
	visibility: visible;
}

article {
	display: inline-block;
	position: fixed;
	margin-right: 5%;
	padding: 0px 28px;
	top: 46px;
	bottom: 32px;
	overflow: auto;
	scroll-behavior: smooth;
	background-color: #fffef7;
	border-right: 3px solid #edf1ff;
	border-left: 3px solid #edf1ff;
}

#main_logo {
	width: 100%;
	background-color: transparent;
	border-color: transparent;
}

div.image {
	background-image:url(../files/Logo.png);
	background-size: contain;
	background-repeat: no-repeat;
	width: 414px;
	height: 237px;
	display: inline-block;
}​

.latex {
	font-family: serif;
}

.latex sub, .latex sup {
  text-transform: uppercase;
}

.latex sub {
  vertical-align: -0.5ex;
  margin-left: -0.1667em;
  margin-right: -0.125em;
}

.latex, .latex sub {
  font-size: 1em;
}

.latex sup {
  font-size: 0.85em;
  vertical-align: 0.15em;
  margin-left: -0.36em;
  margin-right: -0.15em;
}