nav {
	position: fixed;
	top: 46px;
	bottom: 32px;
	width: 20%;
	overflow: scroll;
	background-color: #edf1ff;
}

nav ul{
	padding: 12px 0px;
	margin: 0;
}

nav ul li{
	padding: 4pt 6pt;
	cursor: pointer;
}

nav ul li.category{
	padding: 4pt 6pt;
	cursor: default;
	font-weight: bold;
}

nav ul ul li.category{
	cursor: default;
	font-weight: normal;
	font-style: italic;
}

nav ul ul{
	margin-left: 12pt;
	padding: 0pt;
	list-style-type: none;
}

nav ul ul li{
	font-weight: normal;
	padding: 3pt 6pt;
}

nav ul li:hover {
	background-color: #e6d1fc;
	color: black;
}

article {
	left: 25%;
}